:root{
    --bar-width:25px;
    --bar-height: 3px;
    --hamburger-gap : 5px;
    --animation-timing : 200ms ease-in-out;
    --hamburger-height:calc(var(--bar-height)*3 + var(var(--hamburger-gap)*2));
}
@media (max-width: 900px) {

    /* header {
        position: static;
    } */

    .navbar-container {
        margin-left: 0;
        flex-direction: column;
        gap: 20px;
    }

    .nav-left{
        margin-left: 0;
    }
    .menu-container{
        display: none;
    }
    .hamburger-menu::after,
    .hamburger-menu::before,
    .hamburger-menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: black;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),rotate var(--animation-timing),translate var(--animation-timing);
    }
    .nav-right{
        display: none;
    }
    .menu-container{
        display: block;
    }
    .hamburger-menu{
        --x-width : calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: 28px;
        left: 16px;
        z-index: 2;
    }
    .hamburger-menu input{
        appearance: none;
        padding:0;
        pointer-events: none;
        outline: none;
    }
    .hamburger-menu:has(input:checked)::before{
        rotate: 45deg;
        /* width: var(--x-width); */
        /* translate: 0 calc(var(--bar-height)/ -2); */
    }
    .hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/2);
    }
    .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }
    .sidebar{
        /* pointer-events: none; */
        position: absolute;
        top: 0;
        transition: translate var(--animation-timing);
        padding-top: 6em;
        translate: -100%;
        min-height: 100vh;
        background-color: white;
        min-width: 70%;
    }
    .hamburger-menu:has(input:checked) + .sidebar{
        translate: 0;
    }
    .nav-items-list{
        flex-direction: column;
        gap: 35px;
    }
    .nav-items{
        width: max-content;
    }
    /* clubs page */
    .club-wrapper{
        width: 90%;
    }
    /* placements club  */
    .posts-container{
        width: 90%;
        margin: 0 auto;
    }
    /* resource page */
    .resource-container{
        width: 90%;
    }
    .resource img{
        max-width: 250px;
    }
    .about-section {
        padding: 32px 0px;
        text-align: center;
    }

    .about-section-motto {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about-section-subtext {
        font-size: 20px;
        margin-bottom: 26px;
    }

    .about-section-btn-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    /* --------------footer section--------------- */
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .community, .socials{
        margin-bottom: 20px;
    }
    .community h3, .socials h3{
        margin-bottom: 10px;
    }
    .community ul, .socials ul{
        align-items: center;
    }
    .contact-us{
        border: 0;
        padding-left: 0;
        align-items: center;
    }
    .contact-us h3{
        border-bottom: 1px solid white;
        margin-bottom: 20px;
    }
    /*-------------- events page------------------- */
    .events-wrapper{
        width: 90%;
        z-index: -1;
    }
    .events-container{
        z-index: -1;
        flex-direction: column;
        align-items: center;
    }
    .events-container img{
        z-index: -1;
    }
    .timings{
        margin-top: 10px;
        position: static;
    }
    .register-btn{
        position: static; 
        margin-top: 10px;     
    }
    .time img, .date img{
        width: 28px;
        height: 28px;
    }
    .event-create-navbar{
        position: sticky;
        top: 150px;
        margin: 20px 5%;
        padding: 25px 10px;
    }
    .event-create-navbar ul{
        justify-content: space-between;
    }
    .abstract-wrapper, .date-wrapper{
        margin: 20px 5%;
        width: 90%;
    }
    .poster-upload-container input{
        width: 150px;
    }
    .event-abstract{
        flex-direction: column;
    }
}

